language: r
cache: packages

os:
  - linux
  - osx

r:
  - bioc-release
  - bioc-devel

matrix:
  allow_failures:
    - r: bioc-devel

bioc_required: true
bioc_check: true

r_packages:
  - covr
  - faahKO

addons:
  apt:
    packages:
      - libnetcdf-dev
      - netcdf-bin
      - libhdf5-dev

before_install:
  - "if [ ${TRAVIS_OS_NAME} = 'osx' ]; then rm '/usr/local/bin/gfortran'; fi"
  - "if [ ${TRAVIS_OS_NAME} = 'osx' ]; then brew update; fi"
  - "if [ ${TRAVIS_OS_NAME} = 'osx' ]; then brew install libgit2; fi"

after_success:
  - Rscript -e 'library(covr); codecov(line_exclusions = "R/zzz.R")'
